/* banner */
.banner {
  width: 1100px;
  margin: auto;
}
.banner section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}
.banner-kolom {
  margin-top: 15px;
  margin-bottom: 50px;
}
.banner-kolom .banner-desc {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #364f6b;
}
.banner-kolom h2 {
  font-family: "comic sans ms";
  font-size: 30px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}
.banner-kolom p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}
/* banner end */

/* section tips */
.section-tips {
  background-color: #eab2a0;
  display: flex;
  justify-content: center;
  padding: 40px 40px 16px 40px;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  width: 90%;
  margin: 0 auto;
  transition: 0.2s;
}
.section-tips img {
  width: 250px;
  padding: 3px 3px;
  border-radius: 50px;
  border: 5px solid #a76f6f;
  margin: 0px 10px 0px 10px;
  transition: 0.2s;
}
.section-tips img:hover {
  width: 275px;
}
.section-tips h2 {
  text-align: center;
  color: #2d4356;
}
/* section tips end */

/* section toko */
.toko {
  background-image: url(https://i.ibb.co/mHkhj6v/jsr-store.png);
  display: flex;
  justify-content: center;
  padding: 40px 40px 16px 40px;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  width: 90%;
  margin: 30px auto 30px auto;
  transition: 0.2s;
}

.toko section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}
.toko-section img {
  width: 700px;
}
.madu-multifloral-kolom {
  background-color: #eeeeee;
  margin: 15px 35px 70px 15px;
}
.madu-multifloral-kolom .madu-multifloral-desc {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #364f6b;
}
.madu-multifloral-desc h2 {
  font-family: "comic sans ms";
  font-size: 30px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}
.madu-multifloral-desc p {
  font-size: 16px;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}
.input {
  display: flex;
  gap: 50px;
}
.input h3 {
  font-size: 18px;
}
.add-cart {
  font-size: 20px;
  margin-top: 15px;
}
/* section toko end */
